/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0
#define LAYER   1
#define SYS     2


&mt {
    tapping-term-ms = <180>;
    flavor = "tap-preferred";
    quick-tap-ms = <110>;
    global-quick-tap;
};

&lt {
    tapping-term-ms = <180>;
    flavor = "tap-preferred";
    quick-tap-ms = <110>;
};

&soft_off {
    hold-time-ms = <3000>; // Only turn off if the key is held for 3 seconds or longer.
};


/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -------------------------------------------------------------------------------------
// |  TAB |  Q  |  W  |  E  |  R  |  T  |     |  Y  |  U   |  I  |  O  |  P  |  DEL  |
// | SHFT |  A  |  S  |  D  |  F  |  G  |     |  H  |  J   |  K  |  L  |  ;  |   '   |
// | CTRL |  Z  |  X  |  C  |  V  |  B  |     |  N  |  M   |  ,  |  .  |  /  |  ESC  |
//                 | LGUI.sys | ALT |  SPC.CTRL  | BKSPC.LAYER  | ENT |

                        bindings = <
   &kp TAB     &kp Q   &kp W   &kp E   &kp R   &kp T           &kp Y   &kp U    &kp I       &kp O     &kp P      &kp DEL
   &kp LSHFT   &kp A   &kp S   &kp D   &kp F   &kp G           &kp H   &kp J    &kp K       &kp L     &kp SEMI   &mt RSHFT SQT
   &kp LCTL    &kp Z   &kp X   &kp C   &kp V   &kp B           &kp N   &kp M    &kp COMMA   &kp DOT   &kp FSLH   &kp ESC
                     &lt SYS LGUI    &kp LALT     &mt LCTL SPACE    &lt LAYER BSPC     &kp ENTER
                        >;
                };

                lower_layer {
// ----------------------------------------------------------------------------
// |    |  1  |  2  |  3  |  4  |  5  |      |  6  |   7  |   8  |  9   |   0   |     |
// |    |  -  |  +  |  _  |  @  |  #  |      | APP | left |  up  | down | right |     |
// |    |  =  |  *  |  [  |  ]  |  &  |      | HOME | END | PGUP | PGDN |   \   |     |
//                       |     |     |        |    | PRINTSCREEN |

                        bindings = <
   &trans  &kp N1      &kp N2     &kp N3     &kp N4    &kp N5              &kp N6     &kp N7    &kp N8       &kp N9       &kp N0     &trans
   &trans  &kp MINUS   &kp PLUS   &kp AT     &kp UNDER &kp NUHS            &kp K_APP  &kp LEFT  &kp UP       &kp DOWN     &kp RIGHT  &trans
   &trans  &kp EQUAL   &kp ASTRK  &kp LBKT   &kp RBKT  &kp AMPS            &kp HOME   &kp END   &kp PG_UP    &kp PG_DN    &kp BSLH   &trans
                                     &trans      &trans          &trans        &trans      &kp PSCRN
                        >;
                };

                raise_layer {
// -------work it out -----------------------------------------------------------------------------
// |    |     |     |     |     |     |   |     |     |     |     |     |      |
// |    |     |     |     |     |     |   |     |     |     |     |     |      |
// |    |     |     |     |     |     |   |     |     |     |     |     |      |
//                       |     |     |     |     |     |

                        bindings = <
  &bt BT_CLR_ALL   &bt BT_SEL 0     &bt BT_SEL 1    &bt BT_SEL 2    &bt BT_SEL 3    &bt BT_SEL 4             &trans  &trans  &trans  &trans  &trans  &sys_reset
  &trans           &trans           &trans          &trans          &trans          &trans                   &trans  &trans  &trans  &trans  &trans  &trans                                
  &trans           &trans           &trans          &trans          &trans          &trans                   &trans  &trans  &trans  &trans  &trans  &trans
                                                                          &trans      &trans       &trans        &trans       &soft_off
                        >;
                };
        };
};
